@media screen and (min-width: 650px) {
    .Blok1 {
        position: absolute;
        z-index: 1;
        width: 99%;
        height: 100%;
    }
    .Blok1 img {
        object-fit: cover;
    }
    .Blok2 {
        position: relative;
        z-index: 2;
        background-color: black;
        opacity: 80%;
        width: 100.5%;
        height: 102.5%;
        color: rgb(255, 255, 255);
    }
    .Blok3 {
        text-align: right;
        padding-top: 30vw;
        padding-right: 15vw;
        padding-left: 26vw;
        font-family: 'Inter', sans-serif;
        text-align: justify;
    }
    .splash h2 {
        font-weight: 500;
    }
    .splash h4 {
        font-weight: 300;
    }
    .splash h5 {
        font-weight: 500;
        text-align: right;
    }
}

@media screen and (max-width: 650px) {
    .Blok1 {
        position: absolute;
        z-index: 1;
        width: 98%;
        height: 100%;
    }
    .Blok1 img {
        object-fit: cover;
    }
    .Blok2 {
        position: relative;
        z-index: 2;
        background-color: black;
        opacity: 80%;
        width: 101.5%;
        height: 102.5%;
        color: rgb(255, 255, 255);
    }
    .Blok3 {
        text-align: right;
        padding-top: 65vw;
        padding-right: 6vw;
        padding-left: 12vw;
        font-family: 'Inter', sans-serif;
        text-align: justify;
    }
    .splash h2 {
        font-weight: 500;
        font-size: 2.8vw;
    }
    .splash h4 {
        font-weight: 300;
        font-size: 2vw;
    }
    .splash h5 {
        font-weight: 500;
        text-align: right;
        font-size: 2vw;
    }
}